@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

@import 'tailwindcss';
@plugin "daisyui";

@theme {
  --font-title: 'Bungee', sans-serif;
}

:root {
  --color-primary: #3f9441;
  --color-primary-content: #e1f2e1;
  --color-secondary: #1b581f;
  --color-base-300: #c4c4c4;
  --color-base-100: #fbf9fa;
}

html {
  background-color: var(--color-primary);
}

.carousel {
  --vc-nav-background: transparent;
  --vc-nav-color: var(--color-secondary);
  --vc-nav-color-hover: var(--color-primary);
  --vc-nav-border-radius: 50%;
  --vc-nav-width: 60px;
  --vc-nav-height: 60px;
}
