@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

@import 'tailwindcss';
@plugin "daisyui";

@theme {
  --font-title: 'Bungee', sans-serif;
}

:root {
  --color-primary: #3f9441;
  --color-primary-content: #e1f2e1;
  --color-secondary: #1b581f;
  --color-base-300: #c4c4c4;
}
